#grafico {
    margin-top: 20px;
}

svg {
    font-family: Arial, sans-serif;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: orange;
}

.axis text {
    font-size: 12px;
}

.icono {
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

.bordes {
    border-bottom: 1px solid #212529;
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.bordes:hover {
    padding: 19px;
    border-bottom: 1px solid #ffffff;
}

.contenedor {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}